code {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #660000;
        font-style: normal
     }
pre {  color: #660000; font-family: Verdana, Arial, Helvetica, sans-serif
    }
.titleBox {  font-family: "Times New Roman", Times, serif;
             text-decoration: none; background-color: #CCEEFF; width: 95%;
             padding-left: 20px; border-color: #6699CC #336699 #336699 #6699CC;
             padding-top: 4px; padding-right: 4px; padding-bottom: 4px;
             color: #000066; border-style: double; border-top-width: 5px;
             border-right-width: 5px; border-bottom-width: 5px;
             border-left-width: 5px
          }
